a{
	border:none;
	padding: 0;
	margin: 0;
	color: black;
	border-style: none;
}

img{
	border-style: none;
}

#tv_frame{
	margin: 0 auto;
	padding: 0;
	text-align: center;
	width: 100%;
	height: 615px;
	background-image: url("../img/frames/imac-tv.png");
	position: relative;
	background-repeat: no-repeat !important;
	background-position: center top;
    /*padding-left: 2px;*/
}


#tvbox_content{
	margin: 0 auto;
	width: 738px;
	height: 417px;
	background-color: white;
	position: relative;
	top:31px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius:3px;
}

#tvbox {
	z-index:100;
}

.tv_screen {
	width:738px;
	overflow:hidden;
	position:relative;
	/*display:none;*/
}


.tv_screen div.screen {
	width:738px;
	height:417px;
	display:block;
}

.remote {
	display: block;
	margin: 0 auto;
	width:137px;
	position: relative;	

}

.remote li {
	float:left;
	margin:0 1px;
	list-style:none;
}

.remote li a {
	display:block;
	width:12px;
	height:1px;
	padding-top:12px;
	background-image:url(../icons/remote-led.png);
	background-position:0 0;
	float:left;
	overflow:hidden;
}

.remote li.current a {
	background-position:0 -12px;
}


.title_bar {
	z-index:500;
	position:absolute;
	bottom:-65px;
	left:0;
	height:50px;
	padding:0;
	background-image: url(../icons/bg_bar.png);
	background-repeat: repeat;
	width:100%;
	font-size:2em;
	line-height:0.0;
	color:#eb3812;
	border-top:1px solid #000;
	text-shadow:none;
	font-family: Merriweather,'Helvetica Neue',Arial,sans-serif;
	text-shadow: 1px 1px 0px black;
 }





