
body {
    background-image: url(/static/header.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

@font-face {
    font-family: duke;
    src: url(/public/fonts/Stellar-bold.otf);
}

h1 {
    font-size: 100px;
    display: inline;
    color: white;
    font-family: duke !important;
}

p {
    font-size: 30px;
    color: black;
}

.container {
    padding-top: 250px;
}


.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

