html {
    height: 100%;
}

body {
    background-image: url(../img/old-paper.jpg); 
    background-size: cover;
    background-repeat: no-repeat;
}


ul {
    list-style-type: none;
    margin:0;
}

h1 {
    font-size: 50px;
    display: inline;
    color: black;
    font-family: 'Special Elite', cursive;
}


.jquery-box {
    height: 103px;
    text-align: center;
}


.git-icon {
    position: absolute;
    transform: translate(-50%);
    top:77%;
    left:60%;

}

.medium-icon {
    position: absolute;
    transform: translate(-50%);
    top:87%;
    left:60%;
}

.linked-icon {
    position: absolute;
    transform: translate(-50%);
    top:77%;
    left:86%;
}

.email-icon {
    position: absolute;
    transform: translate(-50%);
    top:89%;
    left:85%;
}

.twitter-box {
    width: 489px;
}

img.deer {
    width: 20px;
}

a:visited {
    color:#000;
}  

a:hover   {
    color:#08D;
}

div.about-me {
    font-size: 20px;
    font-family: 'Special Elite', cursive;
    padding: 0 33px 14px 13px;
}

img.icons {
    width:50px;
}

img.card-medium-icon {
    width: 65px;
}

img.card-email-icon {
    width: 42px;
}

img.card-linked-icon {
    width:42px;
}

img.card-git-icon {
    width: 42px;
}

img.phone-icons {
    width:80px;
}
