html {
    height: 100%;
}

body {
    background-image: url(../img/workDesk.jpg);
    background-repeat: no-repeat;
    background-position-y:-97px;
    background-position-x:-8px;
    background-size: 1300px 830px;
    height: 675px;
    margin: 0;
}

ul {
    list-style-type: none;
    margin:0;
}

h1 {
    font-size: 50px;
    display: inline;
    color: black;
    font-family: 'Special Elite', cursive;
}
.parent-container {
    height:675px;
    position: relative;
}

.row {
    position: absolute;
    display: table;
    width: 1277px;
    height: 675px;
}

.col-1 {
    width: 45%;
    float: left;
    height: 675px;
}

.col-2 {
    width: 55%;
    float: left;
    height: 630px;
    width: calc(55% - 210px);
    padding: 45px 0 0 13px;
}

.jquery-box {
    height: 103px;
    text-align: center;
}

.icons-parent {
    position: relative;
    height: 675px;
    width: 557px;
}

.git-icon {
    position: absolute;
    transform: translate(-50%);
    top:77%;
    left:60%;

}

.medium-icon {
    position: absolute;
    transform: translate(-50%);
    top:87%;
    left:60%;
}

.linked-icon {
    position: absolute;
    transform: translate(-50%);
    top:77%;
    left:86%;
}

.email-icon {
    position: absolute;
    transform: translate(-50%);
    top:89%;
    left:85%;
}

.phone-git-icon {
    display: none;
    position: absolute;
    transform: translate(-50%);
    top:46%;
    left:74%;
}

.phone-medium-icon {
    display: none;
    position: absolute;
    transform: translate(-50%);
    top:46%;
    left:74%;
}

.phone-linked-icon {
    display: none;
    position: absolute;
    transform: translate(-50%);
    top:46%;
    left:74%;
}

.phone-email-icon {
    display: none;
    position: absolute;
    transform: translate(-50%);
    top:46%;
    left:74%;
}

.twitter-box {
    width: 489px;
}

.hidden-box {
    z-index: 1;
    background-color: #303030;
    -webkit-transform: rotate(2deg);  
    transform: rotate(2deg);
    position: absolute;
    /*transform: translate(-50%);*/
    top:42.8%;
    left:52%;
    height:123px;
    width:248px;
    border-radius: 5%;
}

.git-phone-background {
    z-index: 2;
    display: none;
    background-image: url(../img/git-screenshot.png);
    background-size: cover;
    -webkit-transform: rotate(2deg);  
    transform: rotate(2deg);
    position: absolute;
    top:42.8%;
    left:52%;
    height:123px;
    width:248px;
    border-radius: 5%;
}

.linked-phone-background {
    z-index: 2;
    display: none;
    background-image: url(../img/linked-screenshot.png);
    background-size: cover;
    -webkit-transform: rotate(2deg);  
    transform: rotate(2deg);
    position: absolute;
    top:42.8%;
    left:52%;
    height:123px;
    width:248px;
    border-radius: 5%;
}

.email-phone-background {
    z-index: 2;
    display: none;
    background-image: url(../img/email-screenshot.png);
    background-size: cover;
    -webkit-transform: rotate(2deg);  
    transform: rotate(2deg);
    position: absolute;
    top:42.8%;
    left:52%;
    height:123px;
    width:248px;
    border-radius: 5%;
}

.medium-phone-background {
    z-index: 2;
    display: none;
    background-image: url(../img/medium-screenshot.png);
    background-size: cover;
    -webkit-transform: rotate(2deg);  
    transform: rotate(2deg);
    position: absolute;
    top:42.8%;
    left:52%;
    height:123px;
    width:248px;
    border-radius: 5%;
}

.winestar-phone-background {
    z-index: 2;
    display: none;
    background-image: url(../img/winestar-screenshot.png);
    background-size: cover;
    -webkit-transform: rotate(2deg);  
    transform: rotate(2deg);
    position: absolute;
    top:42.8%;
    left:52%;
    height:123px;
    width:248px;
    border-radius: 5%;
}

.mfa-phone-background {
    z-index: 2;
    display: none;
    background-image: url(../img/mfa-screenshot.png);
    background-size: cover;
    -webkit-transform: rotate(2deg);  
    transform: rotate(2deg);
    position: absolute;
    top:42.8%;
    left:52%;
    height:123px;
    width:248px;
    border-radius: 5%;
}

.klassroom-phone-background {
    z-index: 2;
    display: none;
    background-image: url(../img/klassroom-screenshot.png);
    background-size: cover;
    -webkit-transform: rotate(2deg);  
    transform: rotate(2deg);
    position: absolute;
    top:42.8%;
    left:52%;
    height:123px;
    width:248px;
    border-radius: 5%;
}

.twitter-phone-background {
    z-index: 2;
    display: none;
    background-image: url(../img/twitter-screenshot.png);
    background-size: cover;
    -webkit-transform: rotate(2deg);  
    transform: rotate(2deg);
    position: absolute;
    top:42.8%;
    left:52%;
    height:123px;
    width:248px;
    border-radius: 5%;
}

.resume-phone-background {
    z-index: 2;
    display: none;
    background-image: url(../img/resume-screenshot.png);
    background-size: cover;
    -webkit-transform: rotate(2deg);  
    transform: rotate(2deg);
    position: absolute;
    top:42.8%;
    left:52%;
    height:123px;
    width:248px;
    border-radius: 5%;
}

img.deer {
    width: 20px;
}

a:visited {
    color:#000;
}  

a:hover   {
    color:#08D;
}

div.about-me {
    font-size: 20px;
    font-family: 'Special Elite', cursive;
    padding: 0 33px 14px 13px;
}

img.icons {
    width:50px;
}

img.card-medium-icon {
    width: 65px;
}

img.card-email-icon {
    width: 42px;
}

img.card-linked-icon {
    width:42px;
}

img.card-git-icon {
    width: 42px;
}

img.phone-icons {
    width:80px;
}

/*////////////////////////////////DESKTOP////////////////////////////////////////*/
@media(min-width: 1291px) {

body {
    background-image: url(../img/workDesk.jpg);
    background-repeat: no-repeat;
    background-position-y:-97px;
    background-position-x:-8px;
    background-size: 1850px 1244px;
    height: 1000px;
    margin: 0;
}


h1 {
    font-size: 50px;
    display: inline;
    color: black;
    font-family: 'Special Elite', cursive;
}

.parent-container {
    height:1026px;
    position: relative;
}

.row {
    position: absolute;
    display: table;
    width: 1843px;
    height: 1026px;
}

.col-1 {
    width: 45%;
    float: left;
    height: 1026px;
}

.col-2 {
    width: 55%;
    float: left;
    height: 1026px;
    width: calc(55% - 277px);
    padding: 106px 0 0 13px;
}

.jquery-box {
    height: 103px;
    text-align: center;
}

.icons-parent {
    position: relative;
    height: 1026px;
    width: 557px;
}

.git-icon {
    position: absolute;
    transform: translate(-50%);
    top:82.5%;
    left:86%;
}

.medium-icon {
    position: absolute;
    transform: translate(-50%);
    top:92.5%;
    left:86%;
}

.linked-icon {
    position: absolute;
    transform: translate(-50%);
    top:82.5%%;
    left:106%;
}

.email-icon {
    position: absolute;
    transform: translate(-50%);
    top:92.5%;
    left:106%;
}

.phone-git-icon {
    display: none;
    position: absolute;
    transform: translate(-50%);
    top:46%;
    left:74%;
}

.phone-medium-icon {
    display: none;
    position: absolute;
    transform: translate(-50%);
    top:46%;
    left:74%;
}

.phone-linked-icon {
    display: none;
    position: absolute;
    transform: translate(-50%);
    top:46%;
    left:74%;
}

.phone-email-icon {
    display: none;
    position: absolute;
    transform: translate(-50%);
    top:46%;
    left:74%;
}

.twitter-box {
    width: 489px;
}

.hidden-box {
    display: none;
    position: absolute;
    transform: translate(-50%);
    top:44%;
    left:74%;
    height:110px;
    width:197px;
    background-color: black;
}


img.deer {
    width: 20px;
}

div.about-me {
    font-size: 20px;
    color: black;
    font-family: 'Special Elite', cursive;
    padding: 0 33px 46px 13px;
}

img.icons {
    width:65px;
}

img.phone-icons {
    width:80px;
}
}



/*////////////////////////////////TABLET////////////////////////////////////////*/
@media(min-width: 415px) and (max-width: 768px) {
    
    body {
        background-image: url(../img/workDesk.jpg);
        background-repeat: no-repeat;
        background-position-y:-44px;
        background-position-x:-301px;
        background-size: 1514px 1088px;
        height: 1024px;
    }

    .hidden-box {
    display: none;
    position: absolute;
    transform: translate(-50%);
    top:44%;
    left:6.3%;
    height:171px;
    width:217px;
    background-color: #303030;
    border-radius: 5%;
    }

    .parent-container {
        /*height:1024px;*/
        position: relative;
    }

    .row {
        position: absolute;
        display: table;
        width: 768px;
        /*height: 1024px;*/
    }

    .col-1 {
        width: 45%;
        float: left;
        /*height: 1024px;*/
    }

    .icons-parent {
        position: relative;
        height: 1042px;
        width: 768px;
    }

    .col-2 {
        float: left;
        /*height: 1024px;*/
        width: calc(55% - 57px);
        padding: 143px 0 0 56px;

    }

    h1 {
        font-size: 35px;
        display: inline;
        color: black;
        font-family: 'Special Elite', cursive;
    }

    div.about-me {
        font-size: 15px;
        color: black;
        font-family: 'Special Elite', cursive;
        padding: 23px 33px 38px 13px;
    }

    .git-icon {
        position: absolute;
        transform: translate(-50%);
        top:73%;
        left:13%;
    }

    .medium-icon {
        position: absolute;
        transform: translate(-50%);
        top:82%;
        left:13%;
    }

    .linked-icon {
        position: absolute;
        transform: translate(-50%);
        top:73%;
        left:35%;
    }

    .email-icon {
        position: absolute;
        transform: translate(-50%);
        top:83%;
        left:35%;
    }

    .twitter-box {
        width: 346px;
    }

}


/*////////////////////////////////PHONE////////////////////////////////////////*/
@media(max-width: 414px) {
    body {
        background-image: url(../img/workDesk.jpg);
        background-repeat: no-repeat;
        background-position-y:-67px;
        background-position-x:-305px;
        background-size: 1015px 805px;
        height: 627px;
        margin: 0;
    }

    img.icons {
        width:30px;
    }

    #hidden-box {
        display: none;
    }

    #parent-container {
        height:709px;
        width: 387;
        position: relative;
    }

    #row {
        position: absolute;
        display: table;
        width: 387px;
        height: 627px;
    }

    #col-1 {
        width: 38%;
        float: left;
        height: 627px;
    }

    #col-2 {
        float: left;
        height: 638px;
        width: calc(55% - 7px);
        padding: 71px 0 0 13px;
    }

    .jquery-box {
        height: 103px;
        text-align: center;
    }

    #icons-parent {
        position: relative;
        height: 709px;
        width: 145px;
    }

    .git-icon {
        position: absolute;
        transform: translate(-50%);
        top:79%;
        left:157%;
    }

    .medium-icon {
        position: absolute;
        transform: translate(-50%);
        top:77.5%;
        left:202%;
    }

    .linked-icon {
        position: absolute;
        transform: translate(-50%);
        top:88.3%;
        left:202%;
    }

    .email-icon {
        position: absolute;
        transform: translate(-50%);
        top:89%;
        left:157%;
    }

    .twitter-box {
        display: none;
        width: 489px;
    }

    img.deer {
        width: 20px;
    }

    h1 {
        font-size: 38px;
        display: inline;
        color: black;
        font-family: 'Special Elite', cursive;
    }

    div.about-me {
        font-size: 16px;
        color: black;
        font-family: 'Special Elite', cursive;
        padding: 9px 0 0 3px;
        line-height: 158%;
    }
        
}



